# pysalearn example configuration. Copy this file to pysalearn.cnf and configure it for your needs

[POP]
host=hostname
user_spam=username
pass_spam=password
user_ham=username
pass_ham=password

[AUTH REPORTERS]
spamReportHeaderKey=key

[SPAMASSASSIN]
quarantine_folder=folder
